<% if user_signed_in? %>
  <h2>Solo puedes votar una vez</h2>
  <p>Luego de votar podras ver como van las apuestas!</p>
<% else %>
  <h1>Bienvenido/a !</h1>
  <p>Quien va a ganar las municipales en Providencia? Apuesta por tu elegido!<br>
    Registrate y vota, solo ocupamos tu registro para validar el voto.</p>
<% end %>
  <div class="clearfix">
    <div class="pull-left">
      <p><%= image_tag "josefa.jpg", :class => 'img-polaroid' %></p>
      <% if user_signed_in? %>
      <p style="text-align: center;"><button type="button" class="btn btn-success">Votar</button></p>
      <% end %>
    </div>
    <div class="pull-right">
      <p><%= image_tag "labbe.jpeg", :class => 'img-polaroid' %></p>
      <% if user_signed_in? %>
      <p style="text-align: center;"><button type="button" class="btn btn-success">Votar</button></p>
      <% end %>
    </div>
  </div>